.product{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-height:450px;
    min-width: 200px;
    flex-basis: auto;
    margin:10px;
    z-index: 1;
    background-color: white;

}
.product_info{
    padding-top: 15px;
    padding: 15px;
}
.product_price{
    font-weight: 700;
}
.product_rating{
    color:gold;
    display:flex;
}
.product > img {
    max-height:200px;
    width:100%;
    object-fit: contain;
    margin-bottom: 15px;
}

button{
    background-color: #f0c14b;
    margin-bottom: 15px;
    border:none;
    padding:5px;
    font-weight: 600;
    border-radius: 5px;
}

